form.search {
  width: 18rem;
  overflow: auto;
  position: relative;
}

button#search.btn.btn-secondary {
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 5px;
  background-color: inherit;
  border: none;
}

span#search.fas.fa-search {
  color: #495057;
}
