.wrapper.justify-content {
  position: relative;

}

.bg { 
    /* The image used */
    background-image: url("../pictures/homeBackground.jpg");

    /* Full height */
    /* height: 700px;  */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    /* width: 100%; */
}

.btn.col-mr-auto.home {
  position: absolute;
  top: 35%;
  left: 45%;
  background-color: #62107F;
  border-color: #62107F;
  color: white;
}

.btn.col-mr-auto:hover {
  background-color: #62107F;
  border-color: #62107F;
  color: white;
}

@media (max-width: 670px) { 
  .bg {
    width: 100%;
    height: 500px;
  }

  .btn.col-mr-auto.home {
    position: absolute;
    top: 45%;
    left: 40%;
    background-color: #62107F;
    border-color: #62107F;
    color: white;
  }
}