.btn-login {
  background-color: #4527a0;
  border-color: #4527a0;
  color: #ffffff;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #7953d2;
  border-color: #7953d2;
  color: #ffffff;
}

.btn-login:active {
  background-color: #000070;
}



.form-horizontal.login {
  color: #ffffff;
}

span.signup {
  color: #000000;
}

.bg { 
  background-image: url("../pictures/homeBackground.jpg");
  height: 900px;
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  /* width: 100%; */
}