.btn.click {
  background-color: #4527a0;
  border-color: #4527a0;
  color: #ffffff;
}

.btn.click:hover,
.btn.click:focus {
  background-color: #7953d2;
  border-color: #7953d2;
  color: #ffffff;
}

.btn.click:active {
  background-color: #000070;
}



.form-horizontal.signup-form {
color: #ffffff;
}

.form-group.signup-form {
  width: 350px;
}

.form-group:focus {
  border-color: black;
}
