.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
}

.card-body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

.card-img-top {
  height: 250px;
}

div#title.card-header {
  color: #000070;
  background-color: #ffffff;
}

h2#bar {
  font-family: 'Rubik', sans-serif;
}
