/* Icon button container */
.btn-group.justify-content-around {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Icon button container */
.btn.btn-default {
  border: none;
}

/* Icon buttons: skip, dislike, like */
.btn.btn-default > span {
  color: #000000;
}
