.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7953d2;
}

button {
  background-color: #7953d2;
  padding: 10px;
  border: none;
}

button.btn.btn-secondary {
  background-color: #7953d2;
  padding: 10px;
}

.row.justify-content-around {
  height: 50px;
}

span {
  color: #ffffff;
}
