button#name,
button#logout,
a#settings {
  color: #000070;
}

button#logout,
a#settings {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

button#logout:hover,
a#settings:hover {
  color: #ffffff;
  background-color: #4527a0;
}

button#name {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

button#profile-pic:active,
button#name:active,
button#logout:active,
a#settings:active {
  background-color: inherit;
}
