
.dropdown-item {
font-size: 30px;
padding: 0;
width: fit-content;
color: blue;
font-family: 'Raleway', sans-serif;
}

.dropdown-header {
font-size: 20px;
font-weight: bold;
padding: 0;
width: fit-content;
color: blue;
}

button#name,
button#logout,
a#settings {
  color: #000070;
}

button#logout,
a#settings {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;

}

button#logout:hover,
a#settings:hover {
  color: #ffffff;
  background-color: #4527a0;
}

button#logout:active,
a#settings:active {
  color: #ffffff;
  background-color: #000070;
}

button#name {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

button#profile-pic:active,
button#name:active {
  background-color: inherit;
}

.dropdown-menu.show {
  padding-bottom: 0;
}

.dropdown-divider {
  margin: 0;
}
